/* normalize.css 2012-03-11 - http://github.com/necolas/normalize.css */ article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* layout & style
-------------------------*/

body {
  margin: 25px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #e5e5e5;
  background-image: url('background.png'), -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  background-image: url('background.png'), -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  background-image: url('background.png'), -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  background-image: url('background.png'), -ms-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  background-image: url('background.png'), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}
#wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

/* header
-------------------------*/

#header {
  position: relative;
  height: 300px;
  background: url('header.jpg') no-repeat left top;
  border: 1px solid rgba(0, 0, 0, .15);
  border-bottom: none;
}
#header h1, #header h2 {
  position: absolute;
  left: 250px;
  padding: 0 .5em;
  color: #fff;
  text-shadow: 0 1px 3px #000;
  background: rgba(0, 0, 0, .5);
}
#header h1 { top: 75px; }
#header h2 {
  top: 120px;
  font-weight: normal;
}

/* global
-------------------------*/

#global {
  padding: 25px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top: none;
}
h3 {
  font-family: 'Francois One', sans-serif;
  font-size: 30px;
  line-height: 1;
  min-height: 54px;
}
a {
  color: #669be1;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.caption {
  font-size: .85em;
  color: #5c5c5c;
}
.button {
  position: relative;
  height: 40px;
  text-align: center;
}
.button .blue,
.button .green {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 12px;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 6px;
}
.blue:active,
.green:active {
  margin-top: 2px;
}
.blue {
  background: #669be1;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OWJlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1Nzg0YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
  background: -moz-linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784BF;
  background: -webkit-linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784BF;
  background: -o-linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784BF;
  background: -ms-linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784BF;
  background: linear-gradient(#669be1, #5784bf) repeat scroll 0 0 #5784BF;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669be1', endColorstr='#5784bf',GradientType=0 );
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
}
.blue:hover {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.blue:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.green {
  background: #84c63c;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0YzYzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODk2MTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
  background: -moz-linear-gradient(#84c63c  , #489615) repeat scroll 0 0 #489615;
  background: -webkit-linear-gradient(#84c63c  , #489615) repeat scroll 0 0 #489615;
  background: -o-linear-gradient(#84c63c  , #489615) repeat scroll 0 0 #489615;
  background: -ms-linear-gradient(#84c63c  , #489615) repeat scroll 0 0 #489615;
  background: linear-gradient(#84c63c  , #489615) repeat scroll 0 0 #489615;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c63c', endColorstr='#489615',GradientType=0 );
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
}
.green:hover {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.green:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.center {
  text-align: center;
}

/* content
-------------------------*/

/* home */

.campaign {
  position: relative;
  padding: 10px 0;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
}
.campaign + .campaign {
  border-top: none;
}
.deadline,
.campaign .button,
.campaign h4 {
  margin: 0;
}
.campaign h4 {
  font-size: 18px;
  font-weight: normal;
}
.campaign .button {
  position: absolute;
  top: 12px;
  right: 0;
}
.campaign .blue {
  width: 180px;
}

/* campaign */

#content, #nav {
  display: inline-block;
  vertical-align: top;
}
#nav {
  width: 20%;
  font-size: 16px;
}
#nav ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav li + li {
  margin-top: 1px;
}
#nav a {
  display: block;
  width: 100%;
  padding: .5em 1em;
  text-decoration: none;
  color: #000;
  outline: none;
  background: #f0f0f0;
}
#nav li:first-child a {
  background: #fff;
}
#nav a:hover,
#nav li:first-child a:hover {
  color: #fff;
  background: #669BE1;
}
#content {
  width: 75%;
  margin-left: 4%;
}
#content h3:first-child {
  margin: 0;
}
#content h4 {
  margin: 0;
  padding: .8em 0 0 0;
  font-size: 1.5em;
  font-weight: normal;

  border-bottom: 1px solid #ccc;
}
#content h5 {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
}
.action span {
  display: inline-block;
  padding: .5em .8em;
}
.nojs .action #callnow,
.nojs .action span {
  display: none;
}

/* campaign: mep */

#mep {
  position: relative;
  margin-top: 1em;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
min-height: 230px;
}
#mep .left, #mep .right {
  display: inline-block;
  vertical-align: top;
}

/* campaign: mep left */

#mep .left {
float: left;
  max-width: 170px;
  margin: 0;
}
#mep .left img {
  width: 100%;
}

/* campaign: mep right */

#mep .right {
  width: 65%;
  margin-left: 5%;
}
#mep .right li span {
  font-weight: bold;
}
#name {
  margin: 0 0 .8em 0;
  font-size: 1.8em;
}
#resume, #committee {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#committee li {
  display: inline-block;
  margin-right: 2px;
  padding: 2px 5px;
  font-size: .8em;
  color: #fff;
  background: #de5f2c;
}
#group, #score, #committee {
  margin-top: 1em;
}
#info {
  position: absolute;
  bottom: -1px;
  right: -1px;
  margin: 0;
}
#info a {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  color: #333;
  background: #e5e5e5;
  border-radius: 6px 0 0 0;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
#info a:hover,
#info a:focus {
  background: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
}

/* campaign: callbox */

.js #background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAAAAABX3VL4AAAAAnRSTlMA/1uRIrUAAAAMSURBVHjaY2D4D4QABgAB/60sNyUAAAAASUVORK5CYII=');
  background: rgba(0, 0, 0, .5);
}
.js #callbox {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 20;
  width: 800px;
  margin-left: -400px;
  font-size: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
}
.js #callbox h5 {
  margin: 0 auto;
  padding: 8px 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  color: #555555;
  background: #f0f0f0;
  background-color: #ececec;
  background-image: -moz-linear-gradient(center top , #f5f5f5 0px, #ececec 100%);
  background-image: -webkit-linear-gradient(center top , #f5f5f5 0px, #ececec 100%);
  background-image: -o-linear-gradient(center top , #f5f5f5 0px, #ececec 100%);
  background-image: -ms-linear-gradient(center top , #f5f5f5 0px, #ececec 100%);
  background-image: linear-gradient(center top , #f5f5f5 0px, #ececec 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff inset;
}
.js #callbox h5:first-child {
  margin-top: 0;
}
.js #callbox p + h5 {
  border-top: 1px solid #ddd;
}
.js #callbox p {
  padding: 0 12px;
}
label[for=phone],
label[for=feedback],
#phone,
#feedback {
  display: block;
}
label[for=phone],
label[for=feedback] {
  font-weight: bold;
}
.nojs label[for=phone],
.nojs label[for=feedback] {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 8px;
  font-weight: normal;
}
#phone,
#feedback,
#callbox .caption {
  width: 82%;
}
#phone,
#feedback {
  margin: 10px auto 0 auto;
}
.nojs #phone,
.nojs #feedback {
  margin: 0 auto;
}
#phone {
  padding: .2em;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
#callbox .caption {
  margin: -8px auto 0 auto;
}
.js #callbox .left,
.js #callbox .right {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.js #callbox .left {
  width: 400px;
  border-right: 1px solid #ccc;
}
.js #callbox .left h5:first-child {
  border-radius: 6px 0 0 0;
}
.js #callbox .right {
  width: 399px;
}
.js #callbox .right h5:first-child {
  border-radius: 0 6px 0 0;
}
#feedback {
  height: 200px;
  padding: 8px;
}

/* footer */

#footer {
  margin: 15px 0 0 0;
  padding-left: 37px;
  font-size: .8em;
  color: #5c5c5c;
  background: url('logo-tiny.png') no-repeat top left;
}
#footer a { color: #717171; }
#footer a:hover,
#footer a:focus {
  color: #5c5c5c;
}

/* misc */

::selection {
  color: #fff;
  background: #669bE1;
}
::-moz-selection {
  color: #fff;
  background: #669bE1;
}
.ie9 * {
  filter: none;
}

/* fonts */

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: normal;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'), url('fonts/FrancoisOne.woff') format('woff');
}



/* ************************************************************ */
/* IMPORT de l'ancien style : */


/***** Tables *****/
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td { vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 2px 0 0 0; }
table.list td.checkbox input {padding:0px;}
table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
table.list td.buttons a { padding-right: 0.6em; }
table.list caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; }


/***** Icons *****/
.icon {
background-position: 0% 50%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}

.icon-add { background-image: url(/static/images/add.png); }
.icon-edit { background-image: url(/static/images/edit.png); }
.icon-copy { background-image: url(/static/images/copy.png); }
.icon-duplicate { background-image: url(/static/images/duplicate.png); }
.icon-del { background-image: url(/static/images/delete.png); }
.icon-move { background-image: url(/static/images/move.png); }
.icon-save { background-image: url(/static/images/save.png); }
.icon-cancel { background-image: url(/static/images/cancel.png); }
.icon-multiple { background-image: url(/static/images/table_multiple.png); }
.icon-folder { background-image: url(/static/images/folder.png); }
.open .icon-folder { background-image: url(/static/images/folder_open.png); }
.icon-package { background-image: url(/static/images/package.png); }
.icon-user { background-image: url(/static/images/user.png); }
.icon-projects { background-image: url(/static/images/projects.png); }
.icon-help { background-image: url(/static/images/help.png); }
.icon-attachment  { background-image: url(/static/images/attachment.png); }
.icon-history  { background-image: url(/static/images/history.png); }
.icon-time  { background-image: url(/static/images/time.png); }
.icon-time-add  { background-image: url(/static/images/time_add.png); }
.icon-stats  { background-image: url(/static/images/stats.png); }
.icon-warning  { background-image: url(/static/images/warning.png); }
.icon-fav  { background-image: url(/static/images/fav.png); }
.icon-fav-off  { background-image: url(/static/images/fav_off.png); }
.icon-reload  { background-image: url(/static/images/reload.png); }
.icon-lock  { background-image: url(/static/images/locked.png); }
.icon-unlock  { background-image: url(/static/images/unlock.png); }
.icon-checked  { background-image: url(/static/images/true.png); }
.icon-details  { background-image: url(/static/images/zoom_in.png); }
.icon-report  { background-image: url(/static/images/report.png); }
.icon-comment  { background-image: url(/static/images/comment.png); }
.icon-summary  { background-image: url(/static/images/lightning.png); }
.icon-server-authentication { background-image: url(/static/images/server_key.png); }
.icon-issue { background-image: url(/static/images/ticket.png); }
.icon-zoom-in { background-image: url(/static/images/zoom_in.png); }
.icon-zoom-out { background-image: url(/static/images/zoom_out.png); }
.icon-passwd { background-image: url(/static/images/textfield_key.png); }

.icon-file { background-image: url(/static/images/files/default.png); }
.icon-file.text-plain { background-image: url(/static/images/files/text.png); }
.icon-file.text-x-c { background-image: url(/static/images/files/c.png); }
.icon-file.text-x-csharp { background-image: url(/static/images/files/csharp.png); }
.icon-file.text-x-php { background-image: url(/static/images/files/php.png); }
.icon-file.text-x-ruby { background-image: url(/static/images/files/ruby.png); }
.icon-file.text-xml { background-image: url(/static/images/files/xml.png); }
.icon-file.image-gif { background-image: url(/static/images/files/image.png); }
.icon-file.image-jpeg { background-image: url(/static/images/files/image.png); }
.icon-file.image-png { background-image: url(/static/images/files/image.png); }
.icon-file.image-tiff { background-image: url(/static/images/files/image.png); }
.icon-file.application-pdf { background-image: url(/static/images/files/pdf.png); }
.icon-file.application-zip { background-image: url(/static/images/files/zip.png); }
.icon-file.application-x-gzip { background-image: url(/static/images/files/zip.png); }


table.list tbody tr:hover { background-color:#ffffdd; }
table.list tbody tr.group:hover { background-color:inherit; }
table td {padding:4px;}
table p {margin:0;}
.odd {background-color:#e6e7e8;}
.even {background-color: #fff;}

a.sort { padding-right: 16px; background-position: 100% 50%; background-repeat: no-repeat; }
a.sort.asc  { background-image: url(/static/images/sort_asc.png); }
a.sort.desc { background-image: url(/static/images/sort_desc.png); }



/* THESE ARE NOT REDMINE-IMPORTED CSS */
table.list td.right, table.list td.enabled {
    text-align: center;
}

table.form th {
    height: 1em;
    text-align: left;
    vertical-align: top;
}
table.form td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 5px;
}

tr.bigdoc td {
    font-size: small;
}

tr.warning td {
    background-color: #FFEBC1;
}
tr.error td {
    background-color: #FFE3E3;
}

tr.notice td {
    background-color: #dfffdf;
}

table.sortable thead {
    /*background-color:#eee;*/
    text-decoration:underline;
    cursor: pointer;
}

/*
label {
    display: block;
}
*/

label.radio {
    display: inline;
}
div#callee {
    font-size: 14px; 
    font-weight: bold;
    border: 1px solid #ff3030;
    padding: 4px;
    width: 80%;
    margin-right: 20px;
}

div#status {
    font-size: 14px; 
    font-weight: bold;
    border: 1px solid #ff3030;
    padding: 4px;
    width: 80%;
    margin-right: 20px;
}
table, table td, table tr, table th {
    border-collapse: collapse;
}

#logo {
    float: right; 
    padding: 20px 100px 20px 20px;
}

/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata, .warning {
    padding: 4px 4px 4px 30px;
    margin-bottom: 12px;
    font-size: 1.1em;
    border: 2px solid;
}

div.flash {margin-top: 8px;}

div.flash.error, #errorExplanation {
    background: url(../images/exclamation.png) 8px 50% no-repeat;
    background-color: #ffe3e3;
    border-color: #dd0000;
    color: #880000;
}

div.flash.notice {
    background: url(../images/true.png) 8px 5px no-repeat;
    background-color: #dfffdf;
    border-color: #9fcf9f;
    color: #005f00;
}

div.flash.warning {
  background: url(../images/warning.png) 8px 5px no-repeat;
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
  text-align: left;
}

div.flash.nodata, div.flash.warning {
    text-align: center;
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
}


